# coding: utf-8

"""
    REST API for the EK80 Echo Sounder

    This API is for internal Simrad/Kongsberg Maritime use only.  The API, and the documentation of it, is currently under construction and is subject to change without further notice  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from ek80_param_client.api_client import ApiClient


class InstalledTransceiversApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def echo_sounder_transducers_get_acoustic_source(self, acoustic_source, **kwargs):  # noqa: E501
        """Get information about a specific installed transceiver  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.echo_sounder_transducers_get_acoustic_source(acoustic_source, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str acoustic_source: The virtual channel id (required)
        :return: EchoSounderTransducer
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.echo_sounder_transducers_get_acoustic_source_with_http_info(acoustic_source, **kwargs)  # noqa: E501
        else:
            (data) = self.echo_sounder_transducers_get_acoustic_source_with_http_info(acoustic_source, **kwargs)  # noqa: E501
            return data

    def echo_sounder_transducers_get_acoustic_source_with_http_info(self, acoustic_source, **kwargs):  # noqa: E501
        """Get information about a specific installed transceiver  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.echo_sounder_transducers_get_acoustic_source_with_http_info(acoustic_source, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str acoustic_source: The virtual channel id (required)
        :return: EchoSounderTransducer
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['acoustic_source']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method echo_sounder_transducers_get_acoustic_source" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'acoustic_source' is set
        if ('acoustic_source' not in params or
                params['acoustic_source'] is None):
            raise ValueError("Missing the required parameter `acoustic_source` when calling `echo_sounder_transducers_get_acoustic_source`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'acoustic_source' in params:
            path_params['acousticSource'] = params['acoustic_source']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/sounder/installed-transceivers/{acousticSource}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EchoSounderTransducer',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def echo_sounder_transducers_get_acoustic_source_0(self, index, **kwargs):  # noqa: E501
        """Get information about a specific installed transceiver  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.echo_sounder_transducers_get_acoustic_source_0(index, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int index: The virtual channel id (required)
        :return: EchoSounderTransducer
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.echo_sounder_transducers_get_acoustic_source_0_with_http_info(index, **kwargs)  # noqa: E501
        else:
            (data) = self.echo_sounder_transducers_get_acoustic_source_0_with_http_info(index, **kwargs)  # noqa: E501
            return data

    def echo_sounder_transducers_get_acoustic_source_0_with_http_info(self, index, **kwargs):  # noqa: E501
        """Get information about a specific installed transceiver  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.echo_sounder_transducers_get_acoustic_source_0_with_http_info(index, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int index: The virtual channel id (required)
        :return: EchoSounderTransducer
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['index']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method echo_sounder_transducers_get_acoustic_source_0" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'index' is set
        if ('index' not in params or
                params['index'] is None):
            raise ValueError("Missing the required parameter `index` when calling `echo_sounder_transducers_get_acoustic_source_0`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'index' in params:
            path_params['index'] = params['index']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/sounder/installed-transceivers/{index}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EchoSounderTransducer',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def echo_sounder_transducers_get_acoustic_sources(self, **kwargs):  # noqa: E501
        """Get information about all installed transceivers  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.echo_sounder_transducers_get_acoustic_sources(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[EchoSounderTransducer]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.echo_sounder_transducers_get_acoustic_sources_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.echo_sounder_transducers_get_acoustic_sources_with_http_info(**kwargs)  # noqa: E501
            return data

    def echo_sounder_transducers_get_acoustic_sources_with_http_info(self, **kwargs):  # noqa: E501
        """Get information about all installed transceivers  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.echo_sounder_transducers_get_acoustic_sources_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[EchoSounderTransducer]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method echo_sounder_transducers_get_acoustic_sources" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/sounder/installed-transceivers', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[EchoSounderTransducer]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
